#shorten-input::-webkit-input-placeholder {
   color: #DADADA;
}

#shorten-input:-moz-placeholder { /* Firefox 18- */
   color: #DADADA;  
}

#shorten-input::-moz-placeholder {  /* Firefox 19+ */
   color: #DADADA;  
}

#shorten-input:-ms-input-placeholder {  
   color: #DADADA;  
}

h1 {
    text-align: center;
    margin-bottom: 1em;
    font-family: Open Sans;
}

output { text-align: center; }

.put-the-dang-thing-in-the-middle {
    /*width: 80%;*/
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

#shorten-input {
    height: 70px;
    color: #353535;
    font-size: 1.9em;
}

#shorten-input + .input-group-btn > .btn{
    height: 70px;
    color: #353535;
}

.error {
    color: red;
    font-style: italic;
    text-align: center;
    margin-top: 1em;
}

